.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.items-container {
  margin-top: 20px;
}

.item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.item h3 {
  margin-top: 0;
}

.item-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}
.edit-btn {
  background-color: #008ae6;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  /* margin-left: 8px; */
}





/* Login css  */

